<!DOCTYPE html>
<html lang="en">

<head>
        <script type="text/javascript">
        function setup(){
            // Grab elements, create settings, etc.
            var video = document.getElementById('video');
    
            // Get access to the camera!
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }
        }
        </script>    

</head>
<body onload="setup()">
<form action="vendor-check" method="post">
    <video id="video" width="640" height="480" autoplay></video>
    <input type="button" value="snap photo" id="snap">
    <canvas id="canvas" width="640" height="480"></canvas>
    <input type="submit" value="Submit">
</form>

    <script type="text/javascript">
        document.getElementById("snap").addEventListener("click", function() {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            context.drawImage(video, 0, 0, 640, 480);
        });
        function submitDetailsForm() {
            img: canvas.toDataURL();
        }
    </script>
</body>
</html>